p{
    color: white;
}
.header{
    background: url("/static/img/kiss.jpg") no-repeat center;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 14%;
  width: 100vw;
  height: 100vh;
}
.brothers{
    background: url("/static/img/brothers.jpg") no-repeat center;
    background-size: cover;
      width: 100vw;
  height: 100vh;
}
.family{
    background: url("/static/img/family.jpg") no-repeat center;
    background-size: cover;
      width: 100vw;
  height: 100vh;
}
.yura{
    background: url("/static/img/hAnuw_croper_ru.jpeg") no-repeat center;
    background-size: cover;
      width: 100vw;
  height: 100vh;
}
.mark{
    background: url("/static/img/mark.jpg") no-repeat center;
    background-size: cover;
      width: 100vw;
  height: 100vh;
}
.love{
    background: url("/static/img/love.jpg") no-repeat center;
    background-size: cover;
      width: 100vw;
  height: 100vh;
}
.headerTitle{
    font-size: 5vw;
    font-family: RalewayBold;
}
.latest{
    background: url("/static/img/latest.jpg") no-repeat center;
    background-size: cover;
      width: 100vw;
  height: 100vh;
}
@font-face {
    font-family: RalewayBold; /* Гарнитура шрифта */
    src: url(/static/fonts/Raleway-Bold.ttf); /* Путь к файлу со шрифтом */
}
