<!doctype html>
<html lang="ru">
<head>
    <!-- Настройка кодировки -->
    <meta charset="UTF-8">
    <!-- Настройка viewport -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Подключаем основной файл стилей -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Подключаем Boostrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap4/bootstrap.min.css">
    <title>TeensJob</title>
</head>
<body style="font-family: DINPro-Regular">
<!-- Поле с логотипом и региcтрацией вверху сайта -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-2 col-lg-2">
                    <a href="#"><img class="teensJobLogo" width="270" src="/static/img/TeensJob_logo.png" alt=""></a>
                </div>
                <div class="col-xl col-lg-5 headerButtons">
                    <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl col-lg text-right headerNeedButtons">
                            <a class="btn btn-block headerButtonNeedWork" href="#" role="button">ХОЧУ ЗАРАБАТЫВАТЬ</a>
                        </div>
                        <div class="col-xl col-lg text-right headerNeedButtons">
                            <a class="btn btn-block headerButtonNeedHelp" href="#" role="button">НУЖЕН ИСПОЛНИТЕЛЬ</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

<!-- Главная часть сайта с фотографией -->

    <div class="containerPhoto">
        <img class="bgPhoto" src="/static/img/backgroundFirstPagePhoto.jpg" alt="">
        <div class="contentOnPhoto">
            <div class="row">
                <div class="col-xl-2 leftRightNavbar"></div>
                <div class="col-xl-8 navbarPadding">
                    <!-- Меню -->
                    <ul class="nav nav-pills nav-fill">
                      <li class="nav-item">
                        <a class="nav-link" href="#">ИСПОЛНИТЕЛИ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">ПРЕДЛОЖЕНИЯ О РАБОТЕ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">СОЗДАТЬ ПРЕДЛОЖЕНИЕ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">КОНТАКТЫ</a>
                      </li>
                    </ul>
                </div>
                <div class="col-xl-2 leftRightNavbar"></div>
            </div>
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <!-- Заголовки -->
                    <div class="titles">
                        <p>Нужен помощник?</p>
                        <p class="underTitle">Мы уже нашли его!</p>
                    </div>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 col-4" type="search" placeholder="Какого рода работу нужно выполнить?" aria-label="Search">
                        <button class="btn col-1 searchSubmitButton my-2 my-sm-0" type="submit">НАЧАТЬ!</button>
                    </form>
                    <p class="forExample">Например: уборка дома</p>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

<!-- Блок с кнопками "Найти", "Нанять", "Заплатить" -->

    <div class="threeButtonsJS">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="threeButtons">
                            <button id="find" onclick="make_active('find')" class="btn headerButtonNeedHelp threeButtons col-3 firstButton">Найти</button>
                            <button id="hire" onclick="make_active('hire')" class="btn threeButtons col-3 firstButton">Нанять</button>
                            <button id="pay" onclick="make_active('pay')" class="btn threeButtons col-3 firstButton">Заплатить</button>
                        </div>
                        <div id="btn_description">Мы заботимся о вас. Мы заключаем контракты и проводим оплату. Так вы будете знать наверняка, что всё сделано в соответствии с законодательством. Мы предлагаем разные способы оплаты, включая криптовалюты. Мы гарантируем безопасность при использовании функции "Безопасная сделка".</div>
                    </div>
                    <div class="col-xl-5">
                        <div class="p">
                            <p>Находите исполнителей</p>
                            <p class="withoutComission">БЕЗ КОМИССИИ</p>
                            <p class="forFewMinutes">за несколько минут</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
    <script type="text/javascript">

        var change_time = 8000;
        var timeout;

        function find_active(){
            timeout = setTimeout(function () {
                make_active('find');
            }, change_time);

        }

        function hire_active(){
            timeout = setTimeout(function () {
                make_active('hire');
            }, change_time);
        }

        function pay_active(){
            timeout = setTimeout(function () {
                make_active('pay');
            }, change_time)
        }

        window.onload = function () {
            hire_active()
        };

        function make_active(id) {
            var classes = document.getElementById(id).getAttribute('class');
            document.getElementById(id).setAttribute('class', classes + ' headerButtonNeedHelp');
            if(id === 'find'){
                make_inactive('hire');
                make_inactive('pay');
                document.getElementById('btn_description').innerHTML = 'Мы заботимся о вас. Мы заключаем контракты и проводим оплату. Так вы будете знать наверняка, что всё сделано в соответствии с законодательством. Мы предлагаем разные способы оплаты, включая криптовалюты. Мы гарантируем безопасность при использовании функции "Безопасная сделка".';
                clearTimeout(timeout);
                hire_active()
            }
            if(id === 'hire'){
                make_inactive('find');
                make_inactive('pay');
                document.getElementById('btn_description').innerHTML = 'Мы заботимся о вас. Мы заключаем контракты и проводим оплату. Так вы будете знать наверняка, что всё сделано в соответствии с законодательством. Мы предлагаем разные способы оплаты, включая криптовалюты. Мы гарантируем безопасность при использовании функции "Безопасная сделка".';
                clearTimeout(timeout);
                pay_active()
            }
            if(id === 'pay'){
                make_inactive('find');
                make_inactive('hire');
                document.getElementById('btn_description').innerHTML = 'Мы заботимся о вас. Мы заключаем контракты и проводим оплату. Так вы будете знать наверняка, что всё сделано в соответствии с законодательством. Мы предлагаем разные способы оплаты, включая криптовалюты. Мы гарантируем безопасность при использовании функции "Безопасная сделка".';
                clearTimeout(timeout);
                find_active()
            }
        }

        function make_inactive(id) {
            var classes = document.getElementById(id).getAttribute('class');
            classes = classes.replace(' headerButtonNeedHelp', '');
            document.getElementById(id).setAttribute('class', classes)
        }
    </script>
    <!-- Здесь делаем кнопочки соц сетей вверху страницы -->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a9827c774296c20"></script>


    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Подключаем плагин Popper (необходим для работы компонента Dropdown и др.) -->
    <script src="/static/js/bootstrap4/bootstrap.bundle.min.js"></script>
</body>
</html>