<!doctype html>
<html lang="ru">
<head>
    <!-- Настройка кодировки -->
    <meta charset="UTF-8">
    <!-- Настройка viewport -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Подключаем основной файл стилей -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Подключаем Boostrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap4/bootstrap.min.css">
    <title>TeensJob</title>
</head>
<body style="font-family: DINPro-Regular">
<!-- Поле с логотипом и региcтрацией вверху сайта -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-2 col-lg-2">
                    <a href="#"><img class="teensJobLogo" width="270" src="/static/img/TeensJob_logo.png" alt=""></a>
                </div>
                <div class="col-xl-6 col-lg-5 headerButtons">
                    <div class="row">
                        <div class="col-xl col-lg text-right headerNeedButtons">
                            <a class="btn col-12 headerButtonNeedWork" href="#" role="button">ХОЧУ ЗАРАБАТЫВАТЬ</a>
                        </div>
                        <div class="col-xl col-lg text-right headerNeedButtons">
                            <a class="btn col-12 headerButtonNeedHelp" href="#" role="button">НУЖЕН ИСПОЛНИТЕЛЬ</a>
                        </div>
                        <div class="col-xl-4 text-right">
                            <div id="nav">
                                <div class="menu-item">
                                    <img class="profileIcon" src="/static/img/profileDefaultIcon.png" width="50" alt="">
                                    <span class="dropdown-toggle nickname">MaxBrownss</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

<!-- Главная часть сайта с фотографией -->

    <div class="containerPhoto">
        <img class="bgPhoto" src="/static/img/backgroundFirstPagePhoto.jpg" alt="">
        <div class="contentOnPhoto">
            <div class="row">
                <div class="col-xl-2 leftRightNavbar"></div>
                <div class="col-xl-8 navbarPadding">
                    <!-- Меню -->
                    <ul class="nav nav-pills nav-fill">
                      <li class="nav-item">
                        <a class="nav-link" href="#">ИСПОЛНИТЕЛИ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">ПРЕДЛОЖЕНИЯ О РАБОТЕ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">СОЗДАТЬ ПРЕДЛОЖЕНИЕ</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">КОНТАКТЫ</a>
                      </li>
                    </ul>
                </div>
                <div class="col-xl-2 leftRightNavbar"></div>
            </div>
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <!-- Заголовки -->
                    <div class="titles">
                        <p>Нужен помощник?</p>
                        <p class="underTitle">Мы уже нашли его!</p>
                    </div>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 col-4" type="search" placeholder="Какого рода работу нужно выполнить?" aria-label="Search">
                        <button class="btn col-1 searchSubmitButton my-2 my-sm-0" type="submit">НАЧАТЬ!</button>
                    </form>
                    <p class="forExample">Например: уборка дома</p>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

<!-- Блок с кнопками "Найти", "Нанять", "Заплатить" -->

    <div class="threeButtonsJS">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="threeButtons">
                            <button id="find" onclick="make_active('find')" class="btn headerButtonNeedHelp threeButtons col-3 firstButton">Найти</button>
                            <button id="hire" onclick="make_active('hire')" class="btn threeButtons col-3 firstButton">Нанять</button>
                            <button id="pay" onclick="make_active('pay')" class="btn threeButtons col-3 firstButton">Заплатить</button>
                        </div>
                        <div id="btn_description">Мы заботимся о вас. Мы заключаем контракты и проводим оплату. Так вы будете знать наверняка, что всё сделано в соответствии с законодательством. Мы предлагаем разные способы оплаты, включая криптовалюты. Мы гарантируем безопасность при использовании функции "Безопасная сделка".</div>
                    </div>
                    <div class="col-xl-5">
                        <div class="p">
                            <p class="searchWorkers">Находите исполнителей</p>
                            <p class="withoutComission">БЕЗ КОМИССИИ</p>
                            <p class="forFewMinutes">за несколько минут</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>

<!-- Блок с преимуществами -->

    <div class="advantages effect6">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="row text-center">
                    <div class="col-xl-4">
                        <img class="credits" src="/static/img/credits.png" width="170" alt="">
                        <div class="descriptionAdvantages">
                            <span class="titleAdvantages">УДОБНАЯ И БЕЗОПАСНАЯ ОПЛАТА</span>
                            <p>МЫ ПРЕДЛАГАЕМ УДОБНЫЕ ДЛЯ ВАС СПОСОБЫ ОПЛАТЫ И ГАРАНТИРУЕМ БЕЗОПАСНОСТЬ.</p>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <img class="credits" src="/static/img/document.png" width="133" alt="">
                        <div class="descriptionAdvantages">
                            <span class="titleAdvantages">НАДЕЖНЫЕ ИСПОЛНИТЕЛИ</span>
                            <p>ИСПОЛНИТЕЛИ СО СТАТУСОМ «НАДЕЖНЫЙ» ПРОШЛИ ПРОВЕРКУ.</p>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <img class="credits" src="/static/img/phoneSpeak.png" width="96" alt="">
                        <div class="descriptionAdvantages">
                            <span class="titleAdvantages">МГНОВЕННЫЕ УВЕДОМЛЕНИЯ</span>
                            <p>В ТВОИ АККАУНТЫ В СОЦИАЛЬНЫХ СЕТЯХ ИЛИ МЕССЕНДЖЕРАХ.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>

<!-- Блок с категориями -->

    <div class="categories">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8 text-center allCategories">
                <div class="row">
                    <div class="col-xl-3 onlineConsult">
                        <img src="/static/img/onlineConsult.png"  width="80" alt="">
                        <h1>ОНЛАЙН АССИСТЕНТ</h1>
                    </div>
                    <div class="col-xl-3 aLittlePadding currier">
                        <img src="/static/img/Currier.png" width="110" alt="">
                        <h1>УСЛУГИ КУРЬЕРА</h1>
                    </div>
                    <div class="col-xl-3 aLittlePadding teachHelp">
                        <img src="/static/img/teachBook.png" width="110" alt="">
                        <h1>УСЛУГИ РЕПЕТИТОРА</h1>
                    </div>
                    <div class="col-xl-3 aLittlePadding homeHelp">
                        <img src="/static/img/homeHelp.png" width="110" alt="">
                        <h1>ПОМОЩЬ ПО ДОМУ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 promote">
                        <img src="/static/img/promote.png" width="80" alt="">
                        <h1>ПРОМОУТЕР</h1>
                    </div>
                    <div class="col-xl-3">
                        <img src="/static/img/boxHelp.png" width="105" alt="">
                        <h1>УСЛУГИ ГРУЗЧИКА</h1>
                    </div>
                    <div class="col-xl-3 computerHelp">
                        <img src="/static/img/computerHelp.png" width="80" alt="">
                        <h1>РЕМОНТ КОМПЬЮТЕРА</h1>
                    </div>
                    <div class="col-xl-3">
                        <img src="/static/img/kidsHelp.png" width="80" alt="">
                        <h1>УСЛУГИ НЯНИ</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


    <!-- Здесь делаем кнопочки соц сетей вверху страницы -->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a9827c774296c20"></script>


    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Подключаем плагин Popper (необходим для работы компонента Dropdown и др.) -->
    <script src="/static/js/bootstrap4/bootstrap.bundle.min.js"></script>

    <!-- Подключаем файл JS -->
    <script src="/static/js/common.js"></script>
</body>
</html>